[submodule "deps/EasyCuda"]
	path = deps/EasyCuda
	url = https://github.com/RaduAlexandru/EasyCuda.git
[submodule "deps/jitify"]
	path = deps/jitify
	url = https://github.com/RaduAlexandru/jitify
[submodule "deps/EasyPytorch"]
	path = deps/EasyPytorch
	url = https://github.com/RaduAlexandru/EasyPytorch.git
