[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "deps/EasyPytorch"]
	path = deps/EasyPytorch
	url = https://github.com/RaduAlexandru/EasyPytorch.git
[submodule "deps/EasyCuda"]
	path = deps/EasyCuda
	url = https://github.com/RaduAlexandru/EasyCuda.git
[submodule "deps/jitify"]
	path = deps/jitify
	url = https://github.com/RaduAlexandru/jitify
[submodule "python/optimizers/over9000"]
	path = python/optimizers/over9000
	url = https://github.com/mgrankin/over9000
[submodule "python/optimizers/pytorch_optimizer"]
	path = python/optimizers/pytorch_optimizer
	url = https://github.com/jettify/pytorch-optimizer.git
